body {
    background-color: #121212;
}


.board {
    width: 100%;
    height: 100px;
    background-color: #6200EE;
    font-size: 40px;
    color: #BB86FC;
    font-family: 'Fugaz One', cursive;
    text-align: center;
    line-height: 100px;
    border-radius: 20px;
}

#boardArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 310px;
    margin: 20px auto;
    grid-gap: 5px;
}

.playerOneColor {
    background-color: #fa7100 !important;
    color: white;
}

.playerTwoColor {
    background-color:#fbc10f !important;
    color: white ;
}

#startButtonArea {
    display: flex;
    justify-content: center;
}

button.startButton {
    background-color:  #3700B3;
    border: none;
    color: white;
    font-family: 'Fugaz One', cursive;
    font-size: 40px;
    width: 300px;
    height: 60px;
    border-radius: 20px 20px 50px 50px;
}

#adversaryDiv {
    background-color: #BB86FC;
    width: 250px;
    height: 100px;
    margin: 5px auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.choiseDiv {
    width: 60%;
    height: 70px;
    background-color: white ;
    margin: auto;
    border-radius: 20px;
    color: #f72d8b;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    border: none;
}

#containerForm {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    height: 100%;
}

#playersInfo {
    height: 100%;
}

.containerInputs {
    height: 25px;
    line-height: 35px;
    font-size: 10px;
}

#namePlayerOne {
    margin: 5px;
    color:#121212 ;
    text-align: center;
}

#namePlayerTwo {
    margin: 5px;
    color: #121212;
    text-align: center;
}

.nameField {
    background-color: #BB86FC ;
    border: none;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
}

.labelName {
    padding-left: 10px;
    color: #fa7100;
}

#submitButton {
    background-color:#BB86FC;
    color: white;
    border: none;
    font-family: 'Fugaz One', cursive;
    font-size: 25px;
    border-radius: 20px;
    height: 50px;
}

#cancelButtonArea {
    display: flex;
    justify-content: center;
}

#cancelButton {
    width: 40px;
    border-radius: 50% 50% 100px 100px;
    background-color: #fc2559 ;
    color: white;
    font-family: 'Fugaz One', cursive;
    border: none;
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;  /* Preferred icon size */
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  

  .playerPlates { 
    background-color:  black;
    border: none;
    color: white;
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
    width: 300px;
    height: 60px;
    border-radius: 50px 50px 20px 20px;
    text-align: center;
    line-height: 60px;
  }

  #playerOnePlate {
      background-color: #fa7100;
      font-size: 30px;
  }

  #playerTwoPlate {
      background-color:#fbc10f;
      font-size: 30px;
  }

  #winnerArea {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6200EE;
    width: 300px;
    flex-direction: column;
    border-radius: 20px;
  }



  #lineOne {
      font-family: 'Fugaz One', cursive;
      font-size: 20px;
      text-align: center;
      color: #BB86FC;


  }

  #lineTwo {
    font-family: 'Fugaz One', cursive;
    font-size: 50px;
    text-align: center;
    color: white;
}

#lineOneTie {
    font-family: 'Fugaz One', cursive;
    font-size: 40px;
    text-align: center;
    color: #BB86FC;
}


#restartButton {
    margin: 8px;
    width: 300px;
    background-color:#BB86FC;
    color: white;
    border: none;
    font-family: 'Fugaz One', cursive;
    font-size: 25px;
    height: 50px;
}

#newGameButton {
    margin: 5px;
    width: 300px;
    background-color:#BB86FC;
    color: white;
    border: none;
    font-family: 'Fugaz One', cursive;
    font-size: 25px;
    height: 50px;
}